<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./static/global.css" />
    <link rel="stylesheet" href="./static/index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kelly Slab:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Keania One:wght@400&display=swap" />
</head>

<body>
    <div class="android-normal">
        <div class="frame-container">
            <header class="rectangle-parent">
                <div class="frame-child"></div>
                <div class="frame-with-ellipse">
                    <img class="ellipse-pair-icon" alt="" src="./static/ellipse-pair.svg" />
                    <p class="hayman">HAYMAN</p>
                </div>
                <div class="women-text-frame">
                    <div class="layer-frame">
                        <div class="nav-search">
                            <div class="search-icon">
                                <input placeholder="Search HAYMAN" class="search-input">
                
                            </div>
                            </select>
                        </div>

                        <img class="frame-with-two-frames" loading="eager" alt="" src="./static/frame.svg" />
                    </div>
                </div>
                <img class="vxcv-1-icon" loading="eager" alt="" src="./static/vxcv-1@2x.png" />
            </header>

        </div>
        <div class="simple-frame">
            <img class="backimage" src="./static/Frontpage.jpg">
        </div>
        <div class="frame-with-three-frames">
            <div class="frames-pair">
                    <img class="womenhu" src="./static/women.jpg">
                    <p class="men">Stud Earrings</p>      
            </div>
            <div class="frames-pair">
                <img class="womenhu" src="./static/girlgrey.jpg">
                    <p class="men">Hoop Earrings</p>
                </div>

            <div class="frames-pair">
                <img class="womenhu" src="./static/R.jpg">
                    <p class="men">Dangle Earrings</p>
                </div>
            </div>
    </div>
        <div class="top-selling-text-frame">
            <p>TOP SELLING</p>

            <section>
                <div class="more-info-text-frame">
                    <a href="{{ url_for('product', id=1) }}"> 
                        <img class="block1" src="./static/2d09cadb6513ea1acbf4cd285523f3c7.jpg">
                    </a>
                    <a href="{{ url_for('product', id=2) }}"> 
                        <img class="block1" src="./static/jokerpurple.jpeg">
                    </a>
                    <a href="{{ url_for('product', id=3) }}"> 
                        <img class="block1" src="./static/skullyellow.jpeg">
                    </a>
                </div>
        </div>
    </div>
    </section>
    </section>
    </div>
    </div>
    <section class="Latest-collection">
        <p>LATEST COLLECTION</p>
        <div class="Latest-collection-photo">
            <a href="{{ url_for('product', id=4) }}"> 
                <img class="block1" src="./static/kid1.jpg">
            </a>
            <a href="{{ url_for('product', id=5) }}"> 
                <img class="block1" src="./static/girlblack.jpeg">
            </a>
            <a href="{{ url_for('product', id=6) }}"> 
                <img class="block1" src="./static/narutoblack.jpeg">
            </a>
        </div>
    </section>
    <section class="explore-more">
        <p>TRENDING</p>
        <div class="explore-more-photo">
            <a href="js.js"><img class="exphoto1" src="./static/hood1.jpg"></a>
            <a href="js.js"><img class="exphoto2" src="./static/py.jpg"></a>
            <a href="#"><img class="exphoto3" src="./static/kidu.jpg"></a>
        </div>
    </section>
    </div>
        <section class="frame-parent">
        <footer class="rectangle-group">
            <div class="payment-partner">
                <p class="secure-payment1">100% SECURE PAYMENT</p>
                            <div class="svgrepo-iconcarrier-parent">
                                <img class="svgrepo-iconcarrier" loading="eager" alt="" src="./static/svgrepo-iconcarrier.svg" />
                                <img class="svgrepo-iconcarrier1" loading="eager" alt="" src="./static/svgrepo-iconcarrier-1.svg" />
                                <img class="svgrepo-iconcarrier2" loading="eager" alt="" src="./static/svgrepo-iconcarrier-2.svg" />
                                <img class="svgrepo-iconcarrier2" loading="eager" alt="" src="./static/layer-1-1.svg" />
                            </div>
                        </div>
            <div class="shipping-partners-parent">
                <p>Shipping Partners</p>
                <div class="delivery-n-s-b-i-g-frame">
                    <img class="frame-icon" src="./static/frame-2.svg" />
                    <img class="frame-icon" src="./static/delhiveryns-big-1.svg" />
                    <img class="frame-icon" src="./static/bluedart-1@2x.png" />
                </div>
            </div>
            
    <div class="rectangle-frame-brand-text">
        <img class="vxcv-1-icon2" loading="eager" alt="" src="./static/vxcv-1@2x.png" />
        <div class="more-info-tc-container">
            <p>Coustomer Service</p>
            <p>Hayman Home</p>
            <p>SHOP</p>
        </div>

        <div class="need-help-contact-container">
            <p>Info</p>
            <p>Help</p>
        </div>
            <div class="cod-available-30-container">
                <p>Legal & Privacy</p>
                <p>Contact</p>
                <p>Report</p>
        </div>
        <div class="placeholder">
        <input placeholder="Sign up to our Emails" class="Signup">
        <a href="#"><button type="submit">Submit</button></a>
        </div>
    </div>
        </footer>
        <div class="rectangle-container">
            <div class="frame-inner"></div>
            <img class="hayman-text-node" loading="eager" src="./static/frame-3.svg">
            <div class="hayman1">HAYMAN</div>
        </div>
    </section>
    </div>
    <script src="{{ url_for('static', filename='js.js') }}"></script>
    <script src="{{ url_for('static', filename='javas.js') }}"></script>
</body>

</html>